{extend name='base'}

{block name='main'}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理
		<span class="c-gray en">&gt;</span>
		列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
<!-- 			<div class="text-c">
				<span class="select-box inline">
				<select name="pid" id="pid" class="select"  style="width:350px">
					<option value="0">全部分类</option>
					{volist name="cate" id="vo"}
					<option value="{$vo.id}">{$vo.cate_name}</option>
					{/volist}
				</select>
				</span>
				
			</div> -->

			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">

				<a href="javascript:;" onclick="del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
				
				<a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>

				<a class="btn btn-primary radius" data-title="添加" _href="article-add.html" onclick="article_add('添加','{:url("cateAdd")}','500','300')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加</a>

				</span>
				
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="50">ID</th>
							<th width="100">分类名</th>
							<th width="80">排序</th>
							<th width="150">父类</th>
							<th width="160">操作</th>

						</tr>
					</thead>
					<tbody>
					{volist name="cate" id="vo"}
						<tr class="text-c">
							<td><input type="checkbox" value="{$vo.id}" name="del"></td>
							<td>{$vo.id}</td>
							<td>{$vo.cate_name}</td>
							<td>{$vo.cate_order}</td>
							<td>{$vo.pid}</td>


							<td class="f-14 td-manage">					
							
							<a style="text-decoration:none" class="ml-5" onClick="article_edit('资讯编辑','{:url("cateEdit",["id"=>$vo["id"]])}','500','300')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
							
							<a style="text-decoration:none" class="ml-5" onClick="article_del(this,{$vo.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>

							</td>
						</tr>
					{/volist}	
						
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>
{/block}





{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

//选中下拉框默认选中项
// if ({$selectid}==null) {} else {
// 	document.getElementById("pid")[{$selectid}].selected=true;
// }
  	 

//引用dataTables 控件来显示表格数据
$('.table-sort').dataTable({
	// "aaSorting": [[ 1, "desc" ]],//默认第几个排序
	// "bStateSave": true,//状态保存
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0,5]}// 不参与排序的列
	],
	"lengthMenu": [ 10, 25, 50, 75, 100 ] //设置每页显示数量
});

//下拉框变动后遍历表格数据
// $('#pid').change(function(){

// 	window.location.href = "{:url('pidList')}?pid="+$("#pid").val();
//   //   $.ajax({
//   //       type:"POST",
//   //       url:"{:url('pidList')}",
//   //       data:{pid:$("#p_id").val()},
//   //       success: function(data){
// 		// 		 console.log(data);
// 		// 	},
// 		// error:function(data) {
// 		// 		console.log(data.msg);
// 		// 	}	
//   //   });
// });

/*资讯-添加*/
function article_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*资讯-编辑*/
function article_edit(title,url,w,h){
	layer_show(title,url,w,h);
}

//批量删除(原模板中没有,自己动手,丰衣足食)
function del() {
	// 判断是否至少选择一项 
	var checkedNum = $("input[name='del']:checked").length; 
	if(checkedNum == 0) { 
	alert("请选择至少一项！"); 
	return; 
	} 
	//将多选框的值追加到字符串的后面
	var checkList= new Array();  
    $("input[name='del']:checked").each(function(){  
                    checkList.push($(this).val());  // 在数组中追加元素
                });
    // alert(checkList);
    // console.log(checkList.toString()); 测试当前页面数据

	layer.confirm('确认要批量删除吗？', function () {
        // console.log(checkList.toString());    //显示传输的id数组
        // $.get("{:url('del')}",{id:checkList.toString()});  //把数据转为字符串传递出去，建议用POST方式。
        $.ajax({
			type: 'POST',
			url: "{:url('del')}",
			data:{id:checkList.toString()},
			success: function(data){
				layer.msg('已删除!', {icon: 1, time: 1000}); //消息弹层1秒后消失
        		window.location.reload(); //重新加载页面,显示所有数据
			},
			error:function(data) {
				console.log(data.msg);
			},		
		});	     
    });
}

/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('deleteCate')}",
			data:{"id":id},		
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
				window.location.reload(); //重新加载页面,显示所有数据
			},
			error:function(data) {
				console.log(data.msg);
			},
			
		});		
	});
}


//批量恢复(原模板中没有,自己动手,丰衣足食)
function unDelete() {
    layer.confirm('确认要恢复吗？', function () {
        $.ajax({
			type: 'POST',
			url: "{:url('unDelete')}",
			success: function(data){
				layer.msg('已恢复!', {icon: 1, time: 1000}); //消息弹层1秒后消失
        		window.location.reload(); //重新加载页面,显示所有数据
			},
			error:function(data) {
				console.log(data.msg);
			},		
		});	   
    });
}

/*资讯-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//停用操作
		$.get("{:url('setStatus')}",{id:id});

		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		//发布操作
		$.get("{:url('setStatus')}",{id:id});

		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*资讯-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
</script>
{/block}