{extend name='base'}

{block name='head'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}{/block}
{block name='main'}
<article class="cl pd-20">


	<form action="" method="post" class="form form-horizontal" id="form-student-add">
		


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">父类：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="pid" id="pid" size="1">
				<option value="0">顶级分类</option>
				{volist name="cate" id="vo"}
					<option value="{$vo.id}">{$vo.cate_name}</option>
				{/volist}
				</select>
				</span>
			</div>
		</div>

		

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text "  placeholder="分类名称" name="cate_name" id="cate_name" value="" >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text "  placeholder="排序" name="cate_order" id="cate_order" value="0" >
			</div>
		</div>




		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			     <!-- 这里的提交按钮必须是type submit -->
				<input class="btn btn-primary radius disabled" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
			</div>
		</div>
	</form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本   以下是验证数据的js文件-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>


		//当用户修改了输入框内容时才触发
	    $("form").children().change(function(){
	        $("#submit").removeClass('disabled');
		});


		// //ajax方式提交当前表单数据
  //       $("#submit").on("click", function(event){

  //           $.ajax({
		// 		type: "POST",
		// 		url: "{:url('doAdd')}",
		// 		data: $("#form-student-add").serialize(),
		// 		// dataType: "json",
		// 		success: function(data){
		// 		layer.msg('已添加!', {icon: 1, time: 1000}); //消息弹层1秒后消失
		// 			window.parent.location.reload();
   		// 			window.location.reload(); //重新加载页面,显示所有数据
		// 		},
		// 		error:function(data) {
		// 			console.log(data.msg);
		// 		},		
		// 	});

		// })

        $("#form-student-add").validate({
		rules:{
			cate_name:{
				required:true,
				maxlength:20,
			},
			cate_order:{
				required:true,
				maxlength:3,
			},
		},

		messages:{  
            name:{  
                required:"必填",  
            }  
        },  
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			 $.ajax({
				type: "POST",
				url: "{:url('doAdd')}",
				data: $("#form-student-add").serialize(),
				// dataType: "json",
				success: function(data){
				layer.msg('已添加!', {icon: 1, time: 1000}); //消息弹层1秒后消失
					window.parent.location.reload();
        			window.location.reload(); //重新加载页面,显示所有数据
				},
				error:function(data) {
					console.log(data.msg);
				},		
			});
		},
		invalidHandler: function(form, validator) {return false;}
	});


</script>
{/block}
